<div class="card flex justify-center">
    <p-popover #op>
        <div class="flex flex-col gap-4">
            <div>
                <span class="font-medium block mb-2">Team Members</span>
                <ul class="list-none p-0 m-0 flex flex-col">
                    @for (member of members; track $index) {
                    <li class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border"
                        (click)="selectMember(member)">
                        <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image"
                            style="width: 32px" />
                        <div>
                            <span class="font-medium">{{ member.name }}</span>
                            <div class="text-sm text-surface-500 dark:text-surface-400">{{ member.email }}</div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </p-popover>
</div>